{
  "parser": "@babel/eslint-parser",
  "extends": [
    "@sotream/eslint-config-react-js"
  ],
  "rules": {
    "linebreak-style": ["error", "unix"],
    "import/no-cycle": "off",
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ]
  }
}
